whatsapp-n8n-bot-architect/Flujo_Maestro_V46.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4752,
        2480
      ],
      "id": "011910aa-b4ea-456c-9bf2-34012e438850",
      "name": "Webhook",
      "webhookId": "2bcc7565-7b8f-4735-9403-117db548d0c0"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Webhook').first().json.body.data.key.fromMe }}",
              "value2": false
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5648,
        2288
      ],
      "id": "2a2a02a3-2550-4ccd-aba7-59611e94e0e1",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "method": "POST",
        "url": "https://chlstore-colombia.myshopify.com/admin/api/2023-10/graphql.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{ products(first: 50, query: \\\"product_type:'Calzado'\\\") { edges { node { id title metafield(namespace: \\\"custom\\\", key: \\\"video_whatsapp\\\") { value } variants(first: 20) { edges { node { id title price } } } } } } }\"\n}",
        "options": {}
      },
      "id": "node-graphql-shopify",
      "name": "GraphQL Shopify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7216,
        2288
      ],
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "PTC2dsmLSULOXKiA",
          "name": "Shopify CHL Store"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.estado_embudo }}",
                    "rightValue": "Etapa 4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "931bcbb6-f8a3-41c5-8035-5436ffb38058"
                  },
                  {
                    "leftValue": "={{ $json.output.estado_embudo }}",
                    "rightValue": "Etapa_4",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "476fad38-dbf2-46e2-a323-d75acdaced43"
                  },
                  {
                    "leftValue": "={{ .output.estado_embudo }}",
                    "rightValue": "Cierre",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "cierre-id"
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8952,
        2288
      ],
      "id": "1ff6c751-1bd1-4a92-b9be-a31eb0d56015",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ceo-evolution-api.ei9yfj.easypanel.host/message/sendText/CHL%20Store",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output.mensaje_whatsapp_chunk }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9624,
        2304
      ],
      "id": "030d73de-4702-4de9-88cc-fda2a560afef",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5AY9E3NtnI1W8wX4",
          "name": "evo_chl"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let md = \"MODELO | VARIANTE (Talla/Color) | PRECIO | ID_PRODUCTO | ID_VARIANTE\\n---|---|---|---|---\\n\";\nlet edges = [];\ntry {\n  edges = $input.first().json.data.products.edges;\n} catch(e) {\n  edges = [];\n}\n\nlet videos_md = \"\\n\\nENLACES DE VIDEO POR MODELO:\\n\";\nlet has_videos = false;\n\nfor (let edge of edges) {\n  let p = edge.node;\n  let p_id = p.id.split('/').pop();\n  let video_url = p.metafield ? p.metafield.value : \"\";\n  \n  if (video_url) {\n      videos_md += `- ${p.title}: ${video_url}\\n`;\n      has_videos = true;\n  }\n  \n  for (let vEdge of p.variants.edges) {\n    let v = vEdge.node;\n    let v_id = v.id.split('/').pop();\n    let price_str = String(v.price).replace('.00', '');\n    \n    md += `${p.title} | ${v.title} | ${price_str} | ${p_id} | ${v_id}\\n`;\n  }\n}\n\nif (has_videos) {\n    md += videos_md;\n}\n\nreturn [{ json: { catalogo_markdown: md } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        2288
      ],
      "id": "f5e03972-959e-4449-ba96-7dae6302e87c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chlstore-colombia.myshopify.com/admin/api/2024-04/orders.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order\": {\n    \"financial_status\": \"pending\",\n    \"email\": \"{{ $json.output.datos_extraidos.telefono }}@whatsapp.com\",\n    \"tags\": \"Whatsapp\",\n    \"shipping_address\": {\n      \"first_name\": \"{{ $json.output.datos_extraidos.nombre }}\",\n      \"last_name\": \".\",\n      \"address1\": \"{{ $json.output.datos_extraidos.direccion }}\",\n      \"city\": \"{{ $json.output.datos_extraidos.ciudad }}\",\n      \"province\": \"{{ $json.output.datos_extraidos.departamento }}\",\n      \"phone\": \"{{ $json.output.datos_extraidos.telefono }}\",\n      \"country\": \"Colombia\"\n    },\n    \"line_items\": [\n      {\n        \"product_id\": {{ Number($json.output.datos_extraidos.id_producto) || null }},\n        \"variant_id\": {{ Number($json.output.datos_extraidos.id_variante) || null }},\n        \"title\": \"{{ $json.output.datos_extraidos.referencia }}\",\n        \"quantity\": 1\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "b3d53702-4154-4727-b355-543de3fc245d",
      "name": "Create an order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9176,
        2112
      ],
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "PTC2dsmLSULOXKiA",
          "name": "Shopify CHL Store"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensaje_whatsapp\": {\n      \"type\": \"string\"\n    },\n    \"estado_embudo\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Etapa 1\",\n        \"Etapa 2\",\n        \"Etapa 3\",\n        \"Etapa 4\"\n      ],\n      \"description\": \"DEBES usar EXACTAMENTE uno de estos 4 valores literales. No uses otras palabras.\"\n    },\n    \"datos_extraidos\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"nombre\": {\n          \"type\": \"string\"\n        },\n        \"direccion\": {\n          \"type\": \"string\"\n        },\n        \"ciudad\": {\n          \"type\": \"string\",\n          \"description\": \"Municipio exacto del env\\u00edo\"\n        },\n        \"departamento\": {\n          \"type\": \"string\",\n          \"description\": \"Departamento oficial en Colombia. Infi\\u00e9relo autom\\u00e1ticamente basado en la ciudad si el cliente no lo da expl\\u00edcitamente.\"\n        },\n        \"telefono\": {\n          \"type\": \"string\"\n        },\n        \"talla\": {\n          \"type\": \"string\"\n        },\n        \"color\": {\n          \"type\": \"string\"\n        },\n        \"referencia\": {\n          \"type\": \"string\"\n        },\n        \"id_producto\": {\n          \"type\": \"string\",\n          \"description\": \"Busca el producto elegido en el cat\\u00e1logo y COPIA EXACTAMENTE el n\\u00famero num\\u00e9rico de id_producto.\"\n        },\n        \"id_variante\": {\n          \"type\": \"string\",\n          \"description\": \"Busca la variante exacta que coincida con la talla y color elegidos y COPIA EXACTAMENTE su variant_id num\\u00e9rico.\"\n        },\n        \"precio_unitario\": {\n          \"type\": \"string\",\n          \"description\": \"Copia exacta del campo precio del cat\\u00e1logo.\"\n        }\n      }\n    },\n    \"url_video_enviar\": {\n      \"type\": \"string\",\n      \"description\": \"Si el cliente pide expl\\u00edcitamente un video, copia aqu\\u00ed la URL correspondiente. De lo contrario, deja comillas vac\\u00edas \\\"\\\".\"\n    }\n  },\n  \"required\": [\n    \"mensaje_whatsapp\",\n    \"estado_embudo\",\n    \"datos_extraidos\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        8144,
        2512
      ],
      "id": "c9528db8-3bc6-4a7a-91a2-73937ee427f8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ceo-evolution-api.ei9yfj.easypanel.host/message/sendText/CHL%20Store ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output.mensaje_whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9624,
        2112
      ],
      "id": "49acd8ab-5075-461d-87d6-4a2105536a35",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5AY9E3NtnI1W8wX4",
          "name": "evo_chl"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2a14e9f-9a00-4b3f-a3f8-6e5513ab43e6",
              "name": "system_message",
              "value": "=Eres un experto en calzado de nuestra tienda CHL Store. Tu objetivo es asesorar a los clientes, resolver sus dudas sobre los zapatos y cerrar ventas de manera amable, profesional y persuasiva.\n\nREGLAS ESTRICTAS DE COMPORTAMIENTO:\n1. Límites de conocimiento: SOLO puedes responder basándote en la información de la \"TABLA DE CATÁLOGO\" a continuación. Si el cliente pregunta por un modelo, color o talla que NO ESTÁ en la tabla, DEBES decirle que no está disponible.\n2. Métodos de Pago: Nuestra prioridad absoluta es el pago Contra Entrega. El envío es GRATIS.\n3. Precios Exactos (REGLA CRÍTICA): El precio real de cada zapato está en la columna PRECIO de la tabla. DEBES decir EXACTAMENTE ese precio. Extrae el precio en la variable precio_unitario.\n\nPREGUNTAS FRECUENTES Y ENLACES (IMPORTANTE):\n1. Solicitud de Catálogo: Si el cliente quiere ver el catálogo completo o más opciones, indícale amablemente que en nuestra tienda virtual están disponibles todos nuestros modelos y envíale EXACTAMENTE este enlace: https://chlstore.com/collections/calzado-ropa\n2. Dudas sobre Tallas: Si el cliente consulta por tallas, no está seguro de cuál pedir o pregunta si le quedará bueno el calzado, indícale que tenemos un procedimiento exacto para medir su pie y envíale EXACTAMENTE este enlace con la guía de tallas: https://chlstore.com/pages/guia-de-tallas\\n3. Solicitud de Videos: Si el cliente pide explícitamente un video del producto, busca el enlace en la sección \"ENLACES DE VIDEO POR MODELO\" y cópialo en la variable url_video_enviar.\n\nEL EMBUDO DE VENTAS (Tus Etapas):\n- Etapa 1: Exploración. Das detalles del producto y preguntas ciudad.\n- Etapa 2: Toma de Datos. Pides: Nombre, Dirección, Teléfono, Talla y Color.\n- Etapa 3: Confirmación. Envías resumen estructurado. Pides confirmación final.\n- Etapa 4: Cierre. Agradeces y despides.\n\nFORMATO DE SALIDA (JSON ESTRICTO):\nTu respuesta DEBE ser siempre un único objeto JSON válido.\nREGLA CRÍTICA: Todos los campos extraídos exigen texto (string). Si el cliente no te ha dado un dato, DEBES escribir comillas vacías \"\". NUNCA uses null ni la palabra \"empty\".\nREGLA WHATSAPP: Nunca uses salto de linea literal en el mensaje_whatsapp. Usa comas para listar.\n\nREGLA DE MENSAJES CORTOS: Tus respuestas NO deben ser un solo bloque de texto. Separa cada idea o párrafo usando el separador exacto '|||'. Ejemplo: '¡Hola! ||| ¿Qué talla buscas?'. n8n enviará cada bloque como un globo de WhatsApp distinto.\n\nREGLA DE IDs (CRÍTICO PARA SHOPIFY): En la Etapa 3 y Etapa 4, es OBLIGATORIO que incluyas el 'id_producto' y el 'id_variante'. Búscalos en la tabla de catálogo (columnas ID_PRODUCTO e ID_VARIANTE) usando la talla y color exactos que eligió el cliente. NUNCA los dejes vacíos.\n\nTABLA DE CATÁLOGO (Stock Actual):\n{{ $json.catalogo_markdown }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7664,
        2288
      ],
      "id": "171d070b-48a3-4199-8c47-2d6a9282b5f3",
      "name": "Edit Fields (Prompt Builder)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Evaluar y Combinar').item.json.combined_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.system_message }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7952,
        2288
      ],
      "id": "bf89c243-47da-4d38-a91b-bf3754a9885b",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        7888,
        2512
      ],
      "id": "26257dc8-7867-4bb7-a5e7-2e746376c1a9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "RwPsz86STZZpVgGE",
          "name": "Gemini Brain"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO mensajes_pendientes (telefono, mensaje, timestamp) VALUES ('{{ $('Preparar Datos').item.json.telefono }}', '{{ ($('Preparar Datos').item.json.mensaje || \"\").replace(/'/g, \"''\") }}', {{ $('Preparar Datos').item.json.timestamp }})",
        "options": {}
      },
      "id": "31f3c5d9-4b02-413e-b982-afc6d40e6ae8",
      "name": "Insertar Mensaje",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        6096,
        2288
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "606e23c5-b531-46b7-902f-671129c1f35d",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6320,
        2288
      ],
      "webhookId": "38b19cda-d713-4ef8-9d6e-a93a223814d0"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mensajes_pendientes WHERE telefono = '{{ $('Webhook').item.json.body.data.key.remoteJid }}'",
        "options": {}
      },
      "id": "13d5e739-8674-4b3d-bcb2-24051c9318e4",
      "name": "Obtener Mensajes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        6544,
        2288
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const remoteJid = $('Webhook').first().json.body.data.key.remoteJid;\nconst rows = $input.all().map(i => i.json).filter(i => i.telefono === remoteJid);\nif (rows.length === 0) {\n  return []; // Ya fue procesado por otra ejecución\n}\n// Buscar el timestamp más reciente\nlet maxTimestamp = 0;\nrows.forEach(r => {\n  if (r.timestamp > maxTimestamp) maxTimestamp = r.timestamp;\n});\nconst now = Date.now();\n// Si la diferencia es menor a 59 segundos, significa que entró OTRO mensaje después de nosotros, por lo que nosotros morimos y dejamos que el OTRO proceso responda.\nlet isManual = false;\ntry { isManual = ($execution.mode === 'manual'); } catch(e) {}\nif (!isManual && (now - maxTimestamp < 14000)) {\n  return []; \n}\n// ¡Somos el último proceso! Unimos todos los mensajes\nconst combined = rows.sort((a,b) => a.timestamp - b.timestamp).map(r => r.mensaje).join('\\n');\nreturn [{ json: { combined_message: combined, telefono: remoteJid } }];"
      },
      "id": "c8feacb3-91d1-4e19-946c-081912b2c294",
      "name": "Evaluar y Combinar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6768,
        2288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM mensajes_pendientes WHERE telefono = '{{ $('Evaluar y Combinar').item.json.telefono }}'",
        "options": {}
      },
      "id": "9c9d7e44-c2df-4fbd-b1ff-4da8f9edd49f",
      "name": "Limpiar Bandeja",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        6992,
        2288
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $input.first().json;\nlet texto = original.output.mensaje_whatsapp || '';\nlet partes = texto.split('|||').map(t => t.trim()).filter(t => t.length > 0);\nif (partes.length === 0) partes = [texto]; // Fallback\nreturn partes.map(p => { \n  let newJson = JSON.parse(JSON.stringify(original));\n  newJson.output.mensaje_whatsapp_chunk = p;\n  return { json: newJson };\n});"
      },
      "id": "a3cc9868-e228-43e8-9955-960a4e8df1af",
      "name": "Dividir Mensajes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9176,
        2384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bd385b43-0d74-475a-92cd-7c7221b23427",
      "name": "Loop Mensajes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        9400,
        2384
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "8d443f70-7689-4d5d-8735-f395fb86ca9d",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9848,
        2384
      ],
      "webhookId": "c5c317b7-042e-4098-894b-8e87fba2a44d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.data.key.remoteJid }}",
        "tableName": "historial_whatsapp",
        "contextWindowLength": 20
      },
      "id": "6147734e-872b-4c98-a83b-65b7246a23f8",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        8016,
        2512
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const remoteJid = $('Webhook').first().json.body.data.key.remoteJid;\nconst mensaje = $('Webhook').first().json.body.data.message.conversation;\nreturn [{ json: {\n  telefono: remoteJid,\n  mensaje: mensaje,\n  timestamp: Date.now()\n} }];"
      },
      "id": "3f975c64-d141-4386-8f75-19f5a5e484a4",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        2288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b161ec3-ac34-4582-ac72-d5c6b70e71b0"
                  },
                  {
                    "leftValue": "={{ $json.body.data.key.fromMe }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "b8419906-fcf0-4463-990a-92fd26262241"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Nuevo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ecfa12e5-d024-4ef2-b408-0dfc11112fff"
                  },
                  {
                    "leftValue": "={{ $json.body.data.key.fromMe }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "dbb69d43-a602-4600-af15-23e688db62f9"
                  },
                  {
                    "leftValue": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}",
                    "rightValue": "!pausa",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "077285b6-4db7-4bf7-a553-4d30a5630836"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pausa Comando"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8d70c9de-1fa6-466e-bc9d-a2d7ef150c74"
                  },
                  {
                    "leftValue": "={{ $json.body.data.key.fromMe }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "68fc440d-4883-489a-bc28-74e9ac51d7e9"
                  },
                  {
                    "leftValue": "={{ $json.body.data.message?.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}",
                    "rightValue": "!reanudar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "a7356010-bca7-48e3-8949-8351f7095079"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reanudar Comando"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2282698f-0ecf-415e-a19f-3c2709863db5",
      "name": "Router Webhook",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4976,
        2448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telefono FROM contactos_pausados WHERE telefono = '{{ $json.body.data.key.remoteJid }}';",
        "options": {}
      },
      "id": "a0c5ce8e-c900-4322-b905-4a74a80f47ae",
      "name": "Consultar Pausa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        5200,
        2288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Object.keys($json).length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6da700c6-9832-4557-9526-0ff50c0e561b",
      "name": "If Pausado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5424,
        2288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contactos_pausados (telefono) VALUES ('{{ $('Webhook').first().json.body.data.key.remoteJid }}') ON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "4ff5685c-0422-41c6-87a2-116f5e8e4e40",
      "name": "Auto Pausa BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        9400,
        2112
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contactos_pausados (telefono) VALUES ('{{ $json.body.data.key.remoteJid }}') ON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "b397b6a5-6bf6-4127-b78f-70e6bb2cc36e",
      "name": "Pausa Comando BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        5200,
        2480
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM contactos_pausados WHERE telefono = '{{ $json.body.data.key.remoteJid }}';",
        "options": {}
      },
      "id": "40b00871-15bf-4757-ac13-2fbc9a84c55d",
      "name": "Reanudar Comando BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        5200,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads_whatsapp (numero_telefono, nombre, producto_interes, estado, ultima_interaccion)\nVALUES (\n  '{{ $('Evaluar y Combinar').item.json.remoteJid }}',\n  '{{ ($json.output.datos_extraidos.nombre || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.output.datos_extraidos.referencia || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.output.estado_embudo.toLowerCase().includes(\"4\") || $json.output.estado_embudo.toLowerCase().includes(\"cierre\") || $json.output.estado_embudo.toLowerCase().includes(\"venta\")) ? \"venta_concretada\" : \"activo\" }}',\n  now()\n)\nON CONFLICT (numero_telefono)\nDO UPDATE SET\n  nombre = EXCLUDED.nombre,\n  producto_interes = EXCLUDED.producto_interes,\n  estado = EXCLUDED.estado,\n  ultima_interaccion = EXCLUDED.ultima_interaccion;",
        "options": {}
      },
      "id": "node-upsert-lead",
      "name": "Upsert Lead BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        8150,
        2288
      ],
      "credentials": {
        "postgres": {
          "id": "ouooyDBAMbCOLds6",
          "name": "DB_CHLStore"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ .output.url_video_enviar || \"\" }}",
              "operation": "contains",
              "value2": "http"
            }
          ]
        }
      },
      "id": "node-if-video",
      "name": "If Video Polo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8350,
        2288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ceo-evolution-api.ei9yfj.easypanel.host/message/sendMedia/CHL%20Store",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"mediatype\": \"video\",\n  \"mimetype\": \"video/mp4\",\n  \"media\": \"{{ $json.output.url_video_enviar }}\",\n  \"caption\": \"Te comparto este vídeo sin edición para que tengas una mejor idea de lo que vas a recibir.\",\n  \"delay\": 1200\n}",
        "options": {}
      },
      "id": "node-send-video",
      "name": "Enviar Video Polo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        8550,
        2150
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5AY9E3NtnI1W8wX4",
          "name": "evo_chl"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ceo-n8n.ei9yfj.easypanel.host",
            "user-agent": "axios/1.13.2",
            "content-length": "29200",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "ceo-n8n.ei9yfj.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3dce397cec76",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "CHL Store",
            "data": {
              "key": {
                "remoteJid": "573116231905@s.whatsapp.net",
                "remoteJidAlt": "573116231905@s.whatsapp.net",
                "fromMe": false,
                "id": "ACB205495FEB3F73305A6E144B75880E",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Héctor Morales",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "receiverAccountType": 1,
                    "recipientKeyHash": {
                      "0": 231,
                      "1": 69,
                      "2": 209,
                      "3": 179,
                      "4": 22,
                      "5": 199,
                      "6": 69,
                      "7": 35,
                      "8": 153,
                      "9": 159
                    },
                    "recipientTimestamp": {
                      "low": 1783000208,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 90,
                    "1": 91,
                    "2": 59,
                    "3": 178,
                    "4": 144,
                    "5": 222,
                    "6": 36,
                    "7": 136,
                    "8": 37,
                    "9": 236,
                    "10": 197,
                    "11": 54,
                    "12": 99,
                    "13": 206,
                    "14": 104,
                    "15": 230,
                    "16": 70,
                    "17": 54,
                    "18": 235,
                    "19": 239,
                    "20": 210,
                    "21": 203,
                    "22": 177,
                    "23": 221,
                    "24": 233,
                    "25": 192,
                    "26": 175,
                    "27": 33,
                    "28": 220,
                    "29": 222,
                    "30": 126,
                    "31": 16
                  }
                },
                "conversation": "Quiero los Tenis Polo Club Caballero blanco con azul, número 39.5"
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "statusAttributions": [],
                "conversionSource": "FB_Ads",
                "conversionData": {
                  "0": 65,
                  "1": 102,
                  "2": 106,
                  "3": 118,
                  "4": 114,
                  "5": 76,
                  "6": 73,
                  "7": 79,
                  "8": 89,
                  "9": 53,
                  "10": 117,
                  "11": 52,
                  "12": 101,
                  "13": 55,
                  "14": 56,
                  "15": 115,
                  "16": 102,
                  "17": 67,
                  "18": 75,
                  "19": 83,
                  "20": 89,
                  "21": 116,
                  "22": 74,
                  "23": 97,
                  "24": 68,
                  "25": 83,
                  "26": 53,
                  "27": 65,
                  "28": 74,
                  "29": 104,
                  "30": 65,
                  "31": 111,
                  "32": 105,
                  "33": 122,
                  "34": 82,
                  "35": 51,
                  "36": 114,
                  "37": 49,
                  "38": 68,
                  "39": 90,
                  "40": 122,
                  "41": 107,
                  "42": 68,
                  "43": 87,
                  "44": 83,
                  "45": 106,
                  "46": 113,
                  "47": 95,
                  "48": 122,
                  "49": 116,
                  "50": 102,
                  "51": 109,
                  "52": 72,
                  "53": 81,
                  "54": 89,
                  "55": 89,
                  "56": 90,
                  "57": 111,
                  "58": 114,
                  "59": 70,
                  "60": 102,
                  "61": 49,
                  "62": 109,
                  "63": 109,
                  "64": 95,
                  "65": 99,
                  "66": 100,
                  "67": 98,
                  "68": 56,
                  "69": 80,
                  "70": 48,
                  "71": 74,
                  "72": 122,
                  "73": 122,
                  "74": 95,
                  "75": 51,
                  "76": 95,
                  "77": 52,
                  "78": 57,
                  "79": 70,
                  "80": 89,
                  "81": 73,
                  "82": 78,
                  "83": 72,
                  "84": 81,
                  "85": 107,
                  "86": 122,
                  "87": 57,
                  "88": 111,
                  "89": 80,
                  "90": 68,
                  "91": 103,
                  "92": 66,
                  "93": 113,
                  "94": 113,
                  "95": 116,
                  "96": 107,
                  "97": 85,
                  "98": 67,
                  "99": 52,
                  "100": 82,
                  "101": 73,
                  "102": 74,
                  "103": 56,
                  "104": 77,
                  "105": 81,
                  "106": 57,
                  "107": 72,
                  "108": 103,
                  "109": 66,
                  "110": 73,
                  "111": 51,
                  "112": 52,
                  "113": 71,
                  "114": 119,
                  "115": 104,
                  "116": 111,
                  "117": 97,
                  "118": 122,
                  "119": 102,
                  "120": 86,
                  "121": 107,
                  "122": 55,
                  "123": 53,
                  "124": 74,
                  "125": 100,
                  "126": 56,
                  "127": 116,
                  "128": 79,
                  "129": 106,
                  "130": 66,
                  "131": 106,
                  "132": 118,
                  "133": 104,
                  "134": 113,
                  "135": 74,
                  "136": 113,
                  "137": 66,
                  "138": 118,
                  "139": 73,
                  "140": 82,
                  "141": 88,
                  "142": 97,
                  "143": 83,
                  "144": 82,
                  "145": 45,
                  "146": 98,
                  "147": 54,
                  "148": 79,
                  "149": 88,
                  "150": 85,
                  "151": 106,
                  "152": 99,
                  "153": 52,
                  "154": 95,
                  "155": 88,
                  "156": 112,
                  "157": 67,
                  "158": 48,
                  "159": 80,
                  "160": 74,
                  "161": 69,
                  "162": 45,
                  "163": 79,
                  "164": 53,
                  "165": 77,
                  "166": 71,
                  "167": 52,
                  "168": 71,
                  "169": 72,
                  "170": 52,
                  "171": 71,
                  "172": 68,
                  "173": 48,
                  "174": 106,
                  "175": 70,
                  "176": 85,
                  "177": 69,
                  "178": 122,
                  "179": 49,
                  "180": 104,
                  "181": 54,
                  "182": 88,
                  "183": 78,
                  "184": 79,
                  "185": 97,
                  "186": 65,
                  "187": 53,
                  "188": 73,
                  "189": 78,
                  "190": 104,
                  "191": 112,
                  "192": 103,
                  "193": 108,
                  "194": 111,
                  "195": 71,
                  "196": 45,
                  "197": 114,
                  "198": 80,
                  "199": 104,
                  "200": 116,
                  "201": 85,
                  "202": 116,
                  "203": 69,
                  "204": 89,
                  "205": 49,
                  "206": 112,
                  "207": 82,
                  "208": 88,
                  "209": 112,
                  "210": 122,
                  "211": 48,
                  "212": 116,
                  "213": 104,
                  "214": 115,
                  "215": 109,
                  "216": 77,
                  "217": 118,
                  "218": 89,
                  "219": 112,
                  "220": 110,
                  "221": 49,
                  "222": 89,
                  "223": 99,
                  "224": 69,
                  "225": 81,
                  "226": 116,
                  "227": 84,
                  "228": 70,
                  "229": 75,
                  "230": 100,
                  "231": 119,
                  "232": 112,
                  "233": 54,
                  "234": 82,
                  "235": 86,
                  "236": 73,
                  "237": 95,
                  "238": 72,
                  "239": 82,
                  "240": 119,
                  "241": 117,
                  "242": 87,
                  "243": 84,
                  "244": 97,
                  "245": 74,
                  "246": 90,
                  "247": 84,
                  "248": 87,
                  "249": 56,
                  "250": 122,
                  "251": 55,
                  "252": 50,
                  "253": 122,
                  "254": 99,
                  "255": 106,
                  "256": 121,
                  "257": 122,
                  "258": 89,
                  "259": 121,
                  "260": 70,
                  "261": 121,
                  "262": 112,
                  "263": 90,
                  "264": 113,
                  "265": 90,
                  "266": 95,
                  "267": 65,
                  "268": 103,
                  "269": 70,
                  "270": 71,
                  "271": 84,
                  "272": 102,
                  "273": 119,
                  "274": 105,
                  "275": 116,
                  "276": 102,
                  "277": 67,
                  "278": 77,
                  "279": 57,
                  "280": 121,
                  "281": 113,
                  "282": 71,
                  "283": 77,
                  "284": 74,
                  "285": 50,
                  "286": 103,
                  "287": 86,
                  "288": 95,
                  "289": 71,
                  "290": 83,
                  "291": 87,
                  "292": 121,
                  "293": 98,
                  "294": 80,
                  "295": 103,
                  "296": 120,
                  "297": 112,
                  "298": 86,
                  "299": 48,
                  "300": 67,
                  "301": 103,
                  "302": 113,
                  "303": 54,
                  "304": 77,
                  "305": 45,
                  "306": 105,
                  "307": 80,
                  "308": 107,
                  "309": 120,
                  "310": 54,
                  "311": 119,
                  "312": 113,
                  "313": 88,
                  "314": 70,
                  "315": 121,
                  "316": 77,
                  "317": 69,
                  "318": 118,
                  "319": 70,
                  "320": 95,
                  "321": 49,
                  "322": 121,
                  "323": 122,
                  "324": 90,
                  "325": 116,
                  "326": 111,
                  "327": 104,
                  "328": 108,
                  "329": 65,
                  "330": 71,
                  "331": 51,
                  "332": 88,
                  "333": 122,
                  "334": 119,
                  "335": 55,
                  "336": 97,
                  "337": 53,
                  "338": 88,
                  "339": 102,
                  "340": 116,
                  "341": 79,
                  "342": 73,
                  "343": 80,
                  "344": 45,
                  "345": 72,
                  "346": 120,
                  "347": 99,
                  "348": 74,
                  "349": 84,
                  "350": 110,
                  "351": 83,
                  "352": 80,
                  "353": 74,
                  "354": 68,
                  "355": 105,
                  "356": 89,
                  "357": 99,
                  "358": 103,
                  "359": 69,
                  "360": 55,
                  "361": 106,
                  "362": 66,
                  "363": 121,
                  "364": 68,
                  "365": 116,
                  "366": 95,
                  "367": 99,
                  "368": 84,
                  "369": 88,
                  "370": 102,
                  "371": 73,
                  "372": 77,
                  "373": 74,
                  "374": 68,
                  "375": 122,
                  "376": 79,
                  "377": 106,
                  "378": 84,
                  "379": 106,
                  "380": 109,
                  "381": 122,
                  "382": 117,
                  "383": 88,
                  "384": 98,
                  "385": 107,
                  "386": 75,
                  "387": 103,
                  "388": 102,
                  "389": 98,
                  "390": 102,
                  "391": 49,
                  "392": 71,
                  "393": 118,
                  "394": 76,
                  "395": 115,
                  "396": 83,
                  "397": 67,
                  "398": 110,
                  "399": 120,
                  "400": 57,
                  "401": 104,
                  "402": 80,
                  "403": 77,
                  "404": 108,
                  "405": 74,
                  "406": 98,
                  "407": 90,
                  "408": 89,
                  "409": 107,
                  "410": 52,
                  "411": 102,
                  "412": 72,
                  "413": 106,
                  "414": 73,
                  "415": 115
                },
                "conversionDelaySeconds": 32,
                "externalAdReply": {
                  "title": "Tenis Polo Club | Pago Contra Entrega 🇨🇴",
                  "body": "Buscas unos tenis que te sirvan para la oficina y para salir el fin de semana? 👟 Los Tenis Polo Club originales son el equilibrio perfecto entre comodidad urbana y estilo impecable. ✔️ Material sintético premium. ✔️ Envío a toda Colombia. ✔️ ¡PAGA EN LA PUERTA DE TU CASA! 📦🏠 Aprovecha nuestro precio especial de solo $150.000 antes de que se agoten las tallas.",
                  "mediaType": 2,
                  "thumbnailUrl": "https://scontent.fclo11-1.fna.fbcdn.net/v/t15.5256-10/728020692_1026766529801342_1158100165343466986_n.jpg?stp=cp0_dst-jpg_e48_fr_q65_tt6&cstp=mx1080x1920&ctp=s540x540&_nc_cat=110&ccb=1-7&_nc_sid=40cf1a&_nc_ohc=DS58wYzkUI0Q7kNvwFFBykk&_nc_oc=AdrIRhI4q9T3VaAFMDI3_6f-d4gLnZOB45ZYdDFtVvd9DDZwcs0PUcknO7DNFx8Lmqk&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fclo11-1.fna&_nc_ss=7a3ba&oh=00_AQDj40Q7pRu2fCo6gyVEmZxp-RqdXWF8RYEtnNNHEiqgDw&oe=6A57411C",
                  "mediaUrl": "https://www.facebook.com/story.php?story_fbid=1933656367339635&id=61557863248102",
                  "thumbnail": {
                    "0": 255,
                    "1": 216,
                    "2": 255,
                    "3": 224,
                    "4": 0,
                    "5": 16,
                    "6": 74,
                    "7": 70,
                    "8": 73,
                    "9": 70,
                    "10": 0,
                    "11": 1,
                    "12": 1,
                    "13": 0,
                    "14": 0,
                    "15": 1,
                    "16": 0,
                    "17": 1,
                    "18": 0,
                    "19": 0,
                    "20": 255,
                    "21": 237,
                    "22": 0,
                    "23": 132,
                    "24": 80,
                    "25": 104,
                    "26": 111,
                    "27": 116,
                    "28": 111,
                    "29": 115,
                    "30": 104,
                    "31": 111,
                    "32": 112,
                    "33": 32,
                    "34": 51,
                    "35": 46,
                    "36": 48,
                    "37": 0,
                    "38": 56,
                    "39": 66,
                    "40": 73,
                    "41": 77,
                    "42": 4,
                    "43": 4,
                    "44": 0,
                    "45": 0,
                    "46": 0,
                    "47": 0,
                    "48": 0,
                    "49": 104,
                    "50": 28,
                    "51": 2,
                    "52": 40,
                    "53": 0,
                    "54": 98,
                    "55": 70,
                    "56": 66,
                    "57": 77,
                    "58": 68,
                    "59": 48,
                    "60": 97,
                    "61": 48,
                    "62": 48,
                    "63": 48,
                    "64": 97,
                    "65": 56,
                    "66": 97,
                    "67": 48,
                    "68": 49,
                    "69": 48,
                    "70": 48,
                    "71": 48,
                    "72": 48,
                    "73": 49,
                    "74": 51,
                    "75": 48,
                    "76": 50,
                    "77": 48,
                    "78": 48,
                    "79": 48,
                    "80": 48,
                    "81": 99,
                    "82": 55,
                    "83": 48,
                    "84": 50,
                    "85": 48,
                    "86": 48,
                    "87": 48,
                    "88": 48,
                    "89": 102,
                    "90": 54,
                    "91": 48,
                    "92": 50,
                    "93": 48,
                    "94": 48,
                    "95": 48,
                    "96": 48,
                    "97": 50,
                    "98": 99,
                    "99": 48,
                    "100": 51,
                    "101": 48,
                    "102": 48,
                    "103": 48,
                    "104": 48,
                    "105": 102,
                    "106": 97,
                    "107": 48,
                    "108": 51,
                    "109": 48,
                    "110": 48,
                    "111": 48,
                    "112": 48,
                    "113": 51,
                    "114": 100,
                    "115": 48,
                    "116": 53,
                    "117": 48,
                    "118": 48,
                    "119": 48,
                    "120": 48,
                    "121": 53,
                    "122": 100,
                    "123": 48,
                    "124": 53,
                    "125": 48,
                    "126": 48,
                    "127": 48,
                    "128": 48,
                    "129": 56,
                    "130": 57,
                    "131": 48,
                    "132": 53,
                    "133": 48,
                    "134": 48,
                    "135": 48,
                    "136": 48,
                    "137": 97,
                    "138": 100,
                    "139": 48,
                    "140": 53,
                    "141": 48,
                    "142": 48,
                    "143": 48,
                    "144": 48,
                    "145": 49,
                    "146": 100,
                    "147": 48,
                    "148": 55,
                    "149": 48,
                    "150": 48,
                    "151": 48,
                    "152": 48,
                    "153": 0,
                    "154": 255,
                    "155": 219,
                    "156": 0,
                    "157": 132,
                    "158": 0,
                    "159": 5,
                    "160": 6,
                    "161": 6,
                    "162": 11,
                    "163": 8,
                    "164": 11,
                    "165": 11,
                    "166": 11,
                    "167": 11,
                    "168": 11,
                    "169": 13,
                    "170": 11,
                    "171": 11,
                    "172": 11,
                    "173": 13,
                    "174": 14,
                    "175": 14,
                    "176": 13,
                    "177": 13,
                    "178": 14,
                    "179": 14,
                    "180": 15,
                    "181": 13,
                    "182": 14,
                    "183": 14,
                    "184": 14,
                    "185": 13,
                    "186": 15,
                    "187": 16,
                    "188": 16,
                    "189": 16,
                    "190": 17,
                    "191": 17,
                    "192": 16,
                    "193": 16,
                    "194": 16,
                    "195": 16,
                    "196": 15,
                    "197": 19,
                    "198": 18,
                    "199": 19,
                    "200": 15,
                    "201": 16,
                    "202": 17,
                    "203": 19,
                    "204": 20,
                    "205": 20,
                    "206": 19,
                    "207": 17,
                    "208": 19,
                    "209": 22,
                    "210": 22,
                    "211": 22,
                    "212": 19,
                    "213": 22,
                    "214": 21,
                    "215": 21,
                    "216": 22,
                    "217": 25,
                    "218": 22,
                    "219": 25,
                    "220": 22,
                    "221": 22,
                    "222": 18,
                    "223": 1,
                    "224": 5,
                    "225": 5,
                    "226": 5,
                    "227": 10,
                    "228": 7,
                    "229": 10,
                    "230": 8,
                    "231": 9,
                    "232": 9,
                    "233": 8,
                    "234": 11,
                    "235": 8,
                    "236": 10,
                    "237": 8,
                    "238": 11,
                    "239": 10,
                    "240": 10,
                    "241": 9,
                    "242": 9,
                    "243": 10,
                    "244": 10,
                    "245": 12,
                    "246": 9,
                    "247": 10,
                    "248": 9,
                    "249": 10,
                    "250": 9,
                    "251": 12,
                    "252": 13,
                    "253": 11,
                    "254": 10,
                    "255": 11,
                    "256": 11,
                    "257": 10,
                    "258": 11,
                    "259": 13,
                    "260": 12,
                    "261": 11,
                    "262": 11,
                    "263": 8,
                    "264": 11,
                    "265": 11,
                    "266": 12,
                    "267": 12,
                    "268": 12,
                    "269": 13,
                    "270": 13,
                    "271": 12,
                    "272": 12,
                    "273": 13,
                    "274": 10,
                    "275": 11,
                    "276": 10,
                    "277": 13,
                    "278": 12,
                    "279": 13,
                    "280": 13,
                    "281": 12,
                    "282": 19,
                    "283": 20,
                    "284": 19,
                    "285": 19,
                    "286": 19,
                    "287": 156,
                    "288": 255,
                    "289": 194,
                    "290": 0,
                    "291": 17,
                    "292": 8,
                    "293": 0,
                    "294": 89,
                    "295": 0,
                    "296": 50,
                    "297": 3,
                    "298": 1,
                    "299": 34,
                    "300": 0,
                    "301": 2,
                    "302": 17,
                    "303": 1,
                    "304": 3,
                    "305": 17,
                    "306": 1,
                    "307": 255,
                    "308": 196,
                    "309": 0,
                    "310": 85,
                    "311": 0,
                    "312": 0,
                    "313": 0,
                    "314": 7,
                    "315": 1,
                    "316": 0,
                    "317": 0,
                    "318": 0,
                    "319": 0,
                    "320": 0,
                    "321": 0,
                    "322": 0,
                    "323": 0,
                    "324": 0,
                    "325": 0,
                    "326": 0,
                    "327": 0,
                    "328": 1,
                    "329": 2,
                    "330": 3,
                    "331": 4,
                    "332": 5,
                    "333": 6,
                    "334": 7,
                    "335": 0,
                    "336": 16,
                    "337": 0,
                    "338": 1,
                    "339": 2,
                    "340": 3,
                    "341": 5,
                    "342": 6,
                    "343": 4,
                    "344": 4,
                    "345": 3,
                    "346": 6,
                    "347": 7,
                    "348": 0,
                    "349": 0,
                    "350": 0,
                    "351": 0,
                    "352": 0,
                    "353": 1,
                    "354": 0,
                    "355": 17,
                    "356": 2,
                    "357": 33,
                    "358": 49,
                    "359": 3,
                    "360": 16,
                    "361": 65,
                    "362": 81,
                    "363": 97,
                    "364": 4,
                    "365": 18,
                    "366": 113,
                    "367": 129,
                    "368": 145,
                    "369": 161,
                    "370": 50,
                    "371": 177,
                    "372": 209,
                    "373": 240,
                    "374": 19,
                    "375": 32,
                    "376": 34,
                    "377": 193,
                    "378": 5,
                    "379": 35,
                    "380": 225,
                    "381": 20,
                    "382": 36,
                    "383": 51,
                    "384": 64,
                    "385": 146,
                    "386": 241,
                    "387": 82,
                    "388": 83,
                    "389": 98,
                    "390": 162,
                    "391": 178,
                    "392": 210,
                    "393": 226,
                    "394": 255,
                    "395": 218,
                    "396": 0,
                    "397": 12,
                    "398": 3,
                    "399": 1,
                    "400": 0,
                    "401": 2,
                    "402": 0,
                    "403": 3,
                    "404": 0,
                    "405": 0,
                    "406": 0,
                    "407": 1,
                    "408": 205,
                    "409": 34,
                    "410": 180,
                    "411": 156,
                    "412": 212,
                    "413": 131,
                    "414": 55,
                    "415": 160,
                    "416": 209,
                    "417": 111,
                    "418": 237,
                    "419": 151,
                    "420": 201,
                    "421": 86,
                    "422": 72,
                    "423": 239,
                    "424": 91,
                    "425": 14,
                    "426": 171,
                    "427": 147,
                    "428": 235,
                    "429": 28,
                    "430": 47,
                    "431": 177,
                    "432": 29,
                    "433": 239,
                    "434": 43,
                    "435": 106,
                    "436": 180,
                    "437": 94,
                    "438": 185,
                    "439": 138,
                    "440": 108,
                    "441": 69,
                    "442": 54,
                    "443": 95,
                    "444": 28,
                    "445": 241,
                    "446": 187,
                    "447": 182,
                    "448": 253,
                    "449": 171,
                    "450": 229,
                    "451": 154,
                    "452": 153,
                    "453": 130,
                    "454": 206,
                    "455": 241,
                    "456": 72,
                    "457": 52,
                    "458": 86,
                    "459": 167,
                    "460": 91,
                    "461": 38,
                    "462": 172,
                    "463": 67,
                    "464": 213,
                    "465": 252,
                    "466": 247,
                    "467": 95,
                    "468": 71,
                    "469": 135,
                    "470": 29,
                    "471": 153,
                    "472": 185,
                    "473": 211,
                    "474": 18,
                    "475": 89,
                    "476": 91,
                    "477": 36,
                    "478": 28,
                    "479": 250,
                    "480": 173,
                    "481": 108,
                    "482": 171,
                    "483": 214,
                    "484": 153,
                    "485": 40,
                    "486": 89,
                    "487": 24,
                    "488": 10,
                    "489": 243,
                    "490": 130,
                    "491": 140,
                    "492": 148,
                    "493": 119,
                    "494": 113,
                    "495": 12,
                    "496": 249,
                    "497": 55,
                    "498": 43,
                    "499": 55,
                    "500": 57,
                    "501": 78,
                    "502": 229,
                    "503": 200,
                    "504": 131,
                    "505": 35,
                    "506": 59,
                    "507": 32,
                    "508": 10,
                    "509": 21,
                    "510": 219,
                    "511": 37,
                    "512": 108,
                    "513": 6,
                    "514": 124,
                    "515": 139,
                    "516": 148,
                    "517": 1,
                    "518": 21,
                    "519": 84,
                    "520": 68,
                    "521": 68,
                    "522": 230,
                    "523": 33,
                    "524": 123,
                    "525": 150,
                    "526": 173,
                    "527": 206,
                    "528": 65,
                    "529": 247,
                    "530": 127,
                    "531": 255,
                    "532": 218,
                    "533": 0,
                    "534": 8,
                    "535": 1,
                    "536": 1,
                    "537": 0,
                    "538": 1,
                    "539": 5,
                    "540": 2,
                    "541": 218,
                    "542": 172,
                    "543": 126,
                    "544": 13,
                    "545": 162,
                    "546": 216,
                    "547": 159,
                    "548": 226,
                    "549": 237,
                    "550": 80,
                    "551": 111,
                    "552": 89,
                    "553": 2,
                    "554": 158,
                    "555": 239,
                    "556": 198,
                    "557": 32,
                    "558": 146,
                    "559": 252,
                    "560": 60,
                    "561": 61,
                    "562": 174,
                    "563": 209,
                    "564": 9,
                    "565": 138,
                    "566": 205,
                    "567": 144,
                    "568": 91,
                    "569": 139,
                    "570": 107,
                    "571": 178,
                    "572": 248,
                    "573": 182,
                    "574": 107,
                    "575": 101,
                    "576": 31,
                    "577": 152,
                    "578": 182,
                    "579": 152,
                    "580": 137,
                    "581": 180,
                    "582": 83,
                    "583": 78,
                    "584": 182,
                    "585": 237,
                    "586": 142,
                    "587": 59,
                    "588": 56,
                    "589": 161,
                    "590": 44,
                    "591": 97,
                    "592": 180,
                    "593": 5,
                    "594": 90,
                    "595": 29,
                    "596": 232,
                    "597": 128,
                    "598": 76,
                    "599": 182,
                    "600": 109,
                    "601": 155,
                    "602": 113,
                    "603": 91,
                    "604": 89,
                    "605": 11,
                    "606": 72,
                    "607": 109,
                    "608": 182,
                    "609": 111,
                    "610": 134,
                    "611": 191,
                    "612": 14,
                    "613": 216,
                    "614": 226,
                    "615": 3,
                    "616": 104,
                    "617": 178,
                    "618": 22,
                    "619": 208,
                    "620": 199,
                    "621": 178,
                    "622": 64,
                    "623": 15,
                    "624": 236,
                    "625": 144,
                    "626": 168,
                    "627": 173,
                    "628": 224,
                    "629": 10,
                    "630": 61,
                    "631": 190,
                    "632": 205,
                    "633": 88,
                    "634": 126,
                    "635": 98,
                    "636": 1,
                    "637": 24,
                    "638": 192,
                    "639": 54,
                    "640": 144,
                    "641": 136,
                    "642": 151,
                    "643": 236,
                    "644": 214,
                    "645": 73,
                    "646": 141,
                    "647": 169,
                    "648": 178,
                    "649": 216,
                    "650": 98,
                    "651": 91,
                    "652": 172,
                    "653": 153,
                    "654": 109,
                    "655": 81,
                    "656": 66,
                    "657": 17,
                    "658": 219,
                    "659": 204,
                    "660": 107,
                    "661": 247,
                    "662": 148,
                    "663": 45,
                    "664": 108,
                    "665": 194,
                    "666": 134,
                    "667": 40,
                    "668": 138,
                    "669": 252,
                    "670": 210,
                    "671": 173,
                    "672": 96,
                    "673": 44,
                    "674": 69,
                    "675": 140,
                    "676": 39,
                    "677": 227,
                    "678": 90,
                    "679": 196,
                    "680": 183,
                    "681": 109,
                    "682": 81,
                    "683": 178,
                    "684": 134,
                    "685": 36,
                    "686": 54,
                    "687": 75,
                    "688": 36,
                    "689": 54,
                    "690": 120,
                    "691": 23,
                    "692": 192,
                    "693": 133,
                    "694": 110,
                    "695": 221,
                    "696": 36,
                    "697": 200,
                    "698": 20,
                    "699": 13,
                    "700": 204,
                    "701": 138,
                    "702": 107,
                    "703": 154,
                    "704": 247,
                    "705": 91,
                    "706": 201,
                    "707": 238,
                    "708": 23,
                    "709": 4,
                    "710": 111,
                    "711": 255,
                    "712": 218,
                    "713": 0,
                    "714": 8,
                    "715": 1,
                    "716": 3,
                    "717": 0,
                    "718": 1,
                    "719": 63,
                    "720": 1,
                    "721": 136,
                    "722": 49,
                    "723": 86,
                    "724": 126,
                    "725": 19,
                    "726": 206,
                    "727": 251,
                    "728": 81,
                    "729": 69,
                    "730": 98,
                    "731": 106,
                    "732": 142,
                    "733": 55,
                    "734": 58,
                    "735": 142,
                    "736": 209,
                    "737": 253,
                    "738": 213,
                    "739": 89,
                    "740": 218,
                    "741": 110,
                    "742": 212,
                    "743": 111,
                    "744": 13,
                    "745": 87,
                    "746": 197,
                    "747": 135,
                    "748": 252,
                    "749": 191,
                    "750": 36,
                    "751": 110,
                    "752": 1,
                    "753": 110,
                    "754": 106,
                    "755": 153,
                    "756": 55,
                    "757": 207,
                    "758": 255,
                    "759": 218,
                    "760": 0,
                    "761": 8,
                    "762": 1,
                    "763": 2,
                    "764": 0,
                    "765": 1,
                    "766": 63,
                    "767": 1,
                    "768": 179,
                    "769": 137,
                    "770": 192,
                    "771": 86,
                    "772": 231,
                    "773": 235,
                    "774": 135,
                    "775": 151,
                    "776": 157,
                    "777": 251,
                    "778": 60,
                    "779": 85,
                    "780": 11,
                    "781": 106,
                    "782": 20,
                    "783": 80,
                    "784": 137,
                    "785": 11,
                    "786": 132,
                    "787": 58,
                    "788": 40,
                    "789": 96,
                    "790": 101,
                    "791": 28,
                    "792": 47,
                    "793": 162,
                    "794": 248,
                    "795": 103,
                    "796": 252,
                    "797": 126,
                    "798": 106,
                    "799": 25,
                    "800": 226,
                    "801": 185,
                    "802": 163,
                    "803": 16,
                    "804": 26,
                    "805": 175,
                    "806": 141,
                    "807": 254,
                    "808": 148,
                    "809": 10,
                    "810": 127,
                    "811": 159,
                    "812": 255,
                    "813": 218,
                    "814": 0,
                    "815": 8,
                    "816": 1,
                    "817": 1,
                    "818": 0,
                    "819": 6,
                    "820": 63,
                    "821": 2,
                    "822": 138,
                    "823": 30,
                    "824": 156,
                    "825": 13,
                    "826": 208,
                    "827": 183,
                    "828": 176,
                    "829": 162,
                    "830": 208,
                    "831": 63,
                    "832": 79,
                    "833": 146,
                    "834": 8,
                    "835": 181,
                    "836": 107,
                    "837": 134,
                    "838": 128,
                    "839": 168,
                    "840": 192,
                    "841": 171,
                    "842": 124,
                    "843": 145,
                    "844": 14,
                    "845": 99,
                    "846": 136,
                    "847": 186,
                    "848": 12,
                    "849": 39,
                    "850": 116,
                    "851": 110,
                    "852": 26,
                    "853": 127,
                    "854": 33,
                    "855": 139,
                    "856": 119,
                    "857": 233,
                    "858": 136,
                    "859": 200,
                    "860": 213,
                    "861": 62,
                    "862": 87,
                    "863": 68,
                    "864": 115,
                    "865": 55,
                    "866": 188,
                    "867": 85,
                    "868": 242,
                    "869": 91,
                    "870": 174,
                    "871": 203,
                    "872": 235,
                    "873": 132,
                    "874": 113,
                    "875": 105,
                    "876": 45,
                    "877": 248,
                    "878": 164,
                    "879": 95,
                    "880": 233,
                    "881": 208,
                    "882": 47,
                    "883": 0,
                    "884": 142,
                    "885": 39,
                    "886": 173,
                    "887": 60,
                    "888": 234,
                    "889": 167,
                    "890": 6,
                    "891": 233,
                    "892": 201,
                    "893": 120,
                    "894": 87,
                    "895": 142,
                    "896": 30,
                    "897": 161,
                    "898": 120,
                    "899": 193,
                    "900": 225,
                    "901": 52,
                    "902": 227,
                    "903": 195,
                    "904": 161,
                    "905": 199,
                    "906": 38,
                    "907": 243,
                    "908": 184,
                    "909": 7,
                    "910": 156,
                    "911": 84,
                    "912": 25,
                    "913": 178,
                    "914": 250,
                    "915": 128,
                    "916": 136,
                    "917": 106,
                    "918": 191,
                    "919": 135,
                    "920": 220,
                    "921": 250,
                    "922": 169,
                    "923": 88,
                    "924": 67,
                    "925": 189,
                    "926": 156,
                    "927": 189,
                    "928": 23,
                    "929": 215,
                    "930": 19,
                    "931": 105,
                    "932": 103,
                    "933": 46,
                    "934": 254,
                    "935": 151,
                    "936": 194,
                    "937": 99,
                    "938": 221,
                    "939": 27,
                    "940": 179,
                    "941": 4,
                    "942": 212,
                    "943": 30,
                    "944": 11,
                    "945": 242,
                    "946": 160,
                    "947": 49,
                    "948": 231,
                    "949": 17,
                    "950": 250,
                    "951": 97,
                    "952": 94,
                    "953": 59,
                    "954": 63,
                    "955": 233,
                    "956": 139,
                    "957": 254,
                    "958": 170,
                    "959": 113,
                    "960": 110,
                    "961": 69,
                    "962": 152,
                    "963": 139,
                    "964": 119,
                    "965": 244,
                    "966": 60,
                    "967": 212,
                    "968": 173,
                    "969": 226,
                    "970": 255,
                    "971": 0,
                    "972": 100,
                    "973": 95,
                    "974": 101,
                    "975": 252,
                    "976": 83,
                    "977": 253,
                    "978": 16,
                    "979": 175,
                    "980": 171,
                    "981": 104,
                    "982": 140,
                    "983": 106,
                    "984": 240,
                    "985": 194,
                    "986": 164,
                    "987": 246,
                    "988": 241,
                    "989": 103,
                    "990": 226,
                    "991": 255,
                    "992": 0,
                    "993": 207,
                    "994": 252,
                    "995": 148,
                    "996": 161,
                    "997": 221,
                    "998": 243,
                    "999": 247,
                    "1000": 192,
                    "1001": 5,
                    "1002": 94,
                    "1003": 234,
                    "1004": 96,
                    "1005": 21,
                    "1006": 224,
                    "1007": 135,
                    "1008": 162,
                    "1009": 240,
                    "1010": 133,
                    "1011": 225,
                    "1012": 29,
                    "1013": 46,
                    "1014": 167,
                    "1015": 242,
                    "1016": 255,
                    "1017": 0,
                    "1018": 255,
                    "1019": 218,
                    "1020": 0,
                    "1021": 8,
                    "1022": 1,
                    "1023": 1,
                    "1024": 0,
                    "1025": 1,
                    "1026": 63,
                    "1027": 33,
                    "1028": 203,
                    "1029": 16,
                    "1030": 95,
                    "1031": 170,
                    "1032": 30,
                    "1033": 151,
                    "1034": 117,
                    "1035": 147,
                    "1036": 242,
                    "1037": 77,
                    "1038": 0,
                    "1039": 83,
                    "1040": 145,
                    "1041": 58,
                    "1042": 207,
                    "1043": 250,
                    "1044": 92,
                    "1045": 16,
                    "1046": 78,
                    "1047": 134,
                    "1048": 90,
                    "1049": 204,
                    "1050": 17,
                    "1051": 157,
                    "1052": 8,
                    "1053": 113,
                    "1054": 221,
                    "1055": 238,
                    "1056": 112,
                    "1057": 102,
                    "1058": 56,
                    "1059": 201,
                    "1060": 148,
                    "1061": 246,
                    "1062": 138,
                    "1063": 81,
                    "1064": 158,
                    "1065": 55,
                    "1066": 4,
                    "1067": 25,
                    "1068": 21,
                    "1069": 196,
                    "1070": 129,
                    "1071": 138,
                    "1072": 182,
                    "1073": 102,
                    "1074": 32,
                    "1075": 244,
                    "1076": 71,
                    "1077": 90,
                    "1078": 167,
                    "1079": 39,
                    "1080": 81,
                    "1081": 159,
                    "1082": 188,
                    "1083": 232,
                    "1084": 130,
                    "1085": 52,
                    "1086": 57,
                    "1087": 37,
                    "1088": 34,
                    "1089": 25,
                    "1090": 134,
                    "1091": 29,
                    "1092": 144,
                    "1093": 115,
                    "1094": 136,
                    "1095": 79,
                    "1096": 161,
                    "1097": 5,
                    "1098": 63,
                    "1099": 137,
                    "1100": 225,
                    "1101": 115,
                    "1102": 20,
                    "1103": 216,
                    "1104": 145,
                    "1105": 67,
                    "1106": 161,
                    "1107": 70,
                    "1108": 16,
                    "1109": 84,
                    "1110": 129,
                    "1111": 232,
                    "1112": 128,
                    "1113": 2,
                    "1114": 245,
                    "1115": 15,
                    "1116": 173,
                    "1117": 29,
                    "1118": 28,
                    "1119": 236,
                    "1120": 137,
                    "1121": 11,
                    "1122": 26,
                    "1123": 135,
                    "1124": 194,
                    "1125": 107,
                    "1126": 65,
                    "1127": 238,
                    "1128": 75,
                    "1129": 206,
                    "1130": 109,
                    "1131": 48,
                    "1132": 245,
                    "1133": 20,
                    "1134": 96,
                    "1135": 68,
                    "1136": 14,
                    "1137": 224,
                    "1138": 138,
                    "1139": 3,
                    "1140": 129,
                    "1141": 35,
                    "1142": 20,
                    "1143": 228,
                    "1144": 153,
                    "1145": 12,
                    "1146": 46,
                    "1147": 33,
                    "1148": 159,
                    "1149": 247,
                    "1150": 83,
                    "1151": 140,
                    "1152": 114,
                    "1153": 105,
                    "1154": 169,
                    "1155": 113,
                    "1156": 231,
                    "1157": 134,
                    "1158": 65,
                    "1159": 29,
                    "1160": 48,
                    "1161": 98,
                    "1162": 20,
                    "1163": 211,
                    "1164": 129,
                    "1165": 33,
                    "1166": 170,
                    "1167": 157,
                    "1168": 81,
                    "1169": 176,
                    "1170": 198,
                    "1171": 73,
                    "1172": 6,
                    "1173": 242,
                    "1174": 145,
                    "1175": 26,
                    "1176": 135,
                    "1177": 9,
                    "1178": 236,
                    "1179": 29,
                    "1180": 79,
                    "1181": 170,
                    "1182": 154,
                    "1183": 22,
                    "1184": 57,
                    "1185": 94,
                    "1186": 105,
                    "1187": 203,
                    "1188": 2,
                    "1189": 50,
                    "1190": 119,
                    "1191": 148,
                    "1192": 20,
                    "1193": 249,
                    "1194": 142,
                    "1195": 60,
                    "1196": 1,
                    "1197": 153,
                    "1198": 21,
                    "1199": 25,
                    "1200": 190,
                    "1201": 204,
                    "1202": 83,
                    "1203": 58,
                    "1204": 113,
                    "1205": 25,
                    "1206": 112,
                    "1207": 68,
                    "1208": 8,
                    "1209": 0,
                    "1210": 25,
                    "1211": 147,
                    "1212": 196,
                    "1213": 110,
                    "1214": 25,
                    "1215": 32,
                    "1216": 45,
                    "1217": 216,
                    "1218": 14,
                    "1219": 25,
                    "1220": 114,
                    "1221": 107,
                    "1222": 151,
                    "1223": 175,
                    "1224": 252,
                    "1225": 68,
                    "1226": 73,
                    "1227": 134,
                    "1228": 166,
                    "1229": 84,
                    "1230": 64,
                    "1231": 149,
                    "1232": 56,
                    "1233": 51,
                    "1234": 165,
                    "1235": 200,
                    "1236": 215,
                    "1237": 208,
                    "1238": 56,
                    "1239": 166,
                    "1240": 51,
                    "1241": 179,
                    "1242": 206,
                    "1243": 126,
                    "1244": 104,
                    "1245": 114,
                    "1246": 104,
                    "1247": 141,
                    "1248": 148,
                    "1249": 35,
                    "1250": 125,
                    "1251": 228,
                    "1252": 49,
                    "1253": 105,
                    "1254": 34,
                    "1255": 131,
                    "1256": 179,
                    "1257": 7,
                    "1258": 234,
                    "1259": 146,
                    "1260": 223,
                    "1261": 100,
                    "1262": 229,
                    "1263": 133,
                    "1264": 206,
                    "1265": 239,
                    "1266": 82,
                    "1267": 60,
                    "1268": 50,
                    "1269": 7,
                    "1270": 134,
                    "1271": 116,
                    "1272": 39,
                    "1273": 200,
                    "1274": 42,
                    "1275": 228,
                    "1276": 26,
                    "1277": 142,
                    "1278": 251,
                    "1279": 10,
                    "1280": 35,
                    "1281": 236,
                    "1282": 66,
                    "1283": 69,
                    "1284": 159,
                    "1285": 37,
                    "1286": 33,
                    "1287": 200,
                    "1288": 1,
                    "1289": 230,
                    "1290": 156,
                    "1291": 90,
                    "1292": 161,
                    "1293": 252,
                    "1294": 224,
                    "1295": 10,
                    "1296": 96,
                    "1297": 129,
                    "1298": 20,
                    "1299": 196,
                    "1300": 56,
                    "1301": 19,
                    "1302": 32,
                    "1303": 131,
                    "1304": 184,
                    "1305": 250,
                    "1306": 151,
                    "1307": 123,
                    "1308": 65,
                    "1309": 114,
                    "1310": 152,
                    "1311": 36,
                    "1312": 55,
                    "1313": 233,
                    "1314": 144,
                    "1315": 109,
                    "1316": 20,
                    "1317": 177,
                    "1318": 98,
                    "1319": 226,
                    "1320": 64,
                    "1321": 145,
                    "1322": 5,
                    "1323": 110,
                    "1324": 193,
                    "1325": 213,
                    "1326": 20,
                    "1327": 14,
                    "1328": 119,
                    "1329": 72,
                    "1330": 185,
                    "1331": 68,
                    "1332": 9,
                    "1333": 186,
                    "1334": 235,
                    "1335": 185,
                    "1336": 172,
                    "1337": 104,
                    "1338": 95,
                    "1339": 138,
                    "1340": 93,
                    "1341": 255,
                    "1342": 218,
                    "1343": 0,
                    "1344": 12,
                    "1345": 3,
                    "1346": 1,
                    "1347": 0,
                    "1348": 2,
                    "1349": 0,
                    "1350": 3,
                    "1351": 0,
                    "1352": 0,
                    "1353": 0,
                    "1354": 16,
                    "1355": 55,
                    "1356": 27,
                    "1357": 202,
                    "1358": 4,
                    "1359": 65,
                    "1360": 232,
                    "1361": 201,
                    "1362": 42,
                    "1363": 10,
                    "1364": 110,
                    "1365": 74,
                    "1366": 194,
                    "1367": 21,
                    "1368": 152,
                    "1369": 2,
                    "1370": 136,
                    "1371": 78,
                    "1372": 34,
                    "1373": 255,
                    "1374": 218,
                    "1375": 0,
                    "1376": 8,
                    "1377": 1,
                    "1378": 3,
                    "1379": 0,
                    "1380": 1,
                    "1381": 63,
                    "1382": 16,
                    "1383": 124,
                    "1384": 67,
                    "1385": 171,
                    "1386": 250,
                    "1387": 47,
                    "1388": 174,
                    "1389": 228,
                    "1390": 169,
                    "1391": 17,
                    "1392": 185,
                    "1393": 226,
                    "1394": 187,
                    "1395": 59,
                    "1396": 178,
                    "1397": 52,
                    "1398": 178,
                    "1399": 25,
                    "1400": 144,
                    "1401": 148,
                    "1402": 193,
                    "1403": 200,
                    "1404": 168,
                    "1405": 112,
                    "1406": 90,
                    "1407": 110,
                    "1408": 151,
                    "1409": 60,
                    "1410": 145,
                    "1411": 120,
                    "1412": 92,
                    "1413": 205,
                    "1414": 243,
                    "1415": 153,
                    "1416": 127,
                    "1417": 255,
                    "1418": 218,
                    "1419": 0,
                    "1420": 8,
                    "1421": 1,
                    "1422": 2,
                    "1423": 0,
                    "1424": 1,
                    "1425": 63,
                    "1426": 16,
                    "1427": 115,
                    "1428": 45,
                    "1429": 2,
                    "1430": 243,
                    "1431": 206,
                    "1432": 20,
                    "1433": 211,
                    "1434": 76,
                    "1435": 112,
                    "1436": 46,
                    "1437": 144,
                    "1438": 193,
                    "1439": 7,
                    "1440": 113,
                    "1441": 117,
                    "1442": 95,
                    "1443": 42,
                    "1444": 57,
                    "1445": 20,
                    "1446": 98,
                    "1447": 184,
                    "1448": 209,
                    "1449": 79,
                    "1450": 242,
                    "1451": 255,
                    "1452": 0,
                    "1453": 255,
                    "1454": 218,
                    "1455": 0,
                    "1456": 8,
                    "1457": 1,
                    "1458": 1,
                    "1459": 0,
                    "1460": 1,
                    "1461": 63,
                    "1462": 16,
                    "1463": 51,
                    "1464": 53,
                    "1465": 107,
                    "1466": 159,
                    "1467": 216,
                    "1468": 123,
                    "1469": 46,
                    "1470": 114,
                    "1471": 129,
                    "1472": 143,
                    "1473": 92,
                    "1474": 89,
                    "1475": 82,
                    "1476": 185,
                    "1477": 144,
                    "1478": 148,
                    "1479": 235,
                    "1480": 230,
                    "1481": 76,
                    "1482": 149,
                    "1483": 137,
                    "1484": 64,
                    "1485": 115,
                    "1486": 238,
                    "1487": 134,
                    "1488": 62,
                    "1489": 140,
                    "1490": 82,
                    "1491": 232,
                    "1492": 234,
                    "1493": 84,
                    "1494": 83,
                    "1495": 128,
                    "1496": 12,
                    "1497": 75,
                    "1498": 128,
                    "1499": 29,
                    "1500": 80,
                    "1501": 129,
                    "1502": 36,
                    "1503": 152,
                    "1504": 171,
                    "1505": 8,
                    "1506": 96,
                    "1507": 226,
                    "1508": 2,
                    "1509": 55,
                    "1510": 4,
                    "1511": 57,
                    "1512": 1,
                    "1513": 145,
                    "1514": 198,
                    "1515": 236,
                    "1516": 151,
                    "1517": 14,
                    "1518": 201,
                    "1519": 4,
                    "1520": 203,
                    "1521": 224,
                    "1522": 213,
                    "1523": 1,
                    "1524": 7,
                    "1525": 6,
                    "1526": 33,
                    "1527": 136,
                    "1528": 65,
                    "1529": 21,
                    "1530": 248,
                    "1531": 53,
                    "1532": 101,
                    "1533": 135,
                    "1534": 178,
                    "1535": 168,
                    "1536": 231,
                    "1537": 53,
                    "1538": 138,
                    "1539": 209,
                    "1540": 81,
                    "1541": 66,
                    "1542": 93,
                    "1543": 90,
                    "1544": 95,
                    "1545": 26,
                    "1546": 167,
                    "1547": 148,
                    "1548": 141,
                    "1549": 198,
                    "1550": 132,
                    "1551": 230,
                    "1552": 154,
                    "1553": 109,
                    "1554": 254,
                    "1555": 202,
                    "1556": 16,
                    "1557": 40,
                    "1558": 44,
                    "1559": 222,
                    "1560": 103,
                    "1561": 84,
                    "1562": 122,
                    "1563": 3,
                    "1564": 117,
                    "1565": 96,
                    "1566": 87,
                    "1567": 146,
                    "1568": 125,
                    "1569": 28,
                    "1570": 203,
                    "1571": 4,
                    "1572": 177,
                    "1573": 36,
                    "1574": 36,
                    "1575": 166,
                    "1576": 35,
                    "1577": 147,
                    "1578": 162,
                    "1579": 56,
                    "1580": 58,
                    "1581": 125,
                    "1582": 91,
                    "1583": 251,
                    "1584": 10,
                    "1585": 209,
                    "1586": 97,
                    "1587": 163,
                    "1588": 195,
                    "1589": 224,
                    "1590": 0,
                    "1591": 116,
                    "1592": 238,
                    "1593": 157,
                    "1594": 212,
                    "1595": 38,
                    "1596": 231,
                    "1597": 56,
                    "1598": 221,
                    "1599": 166,
                    "1600": 70,
                    "1601": 143,
                    "1602": 250,
                    "1603": 6,
                    "1604": 64,
                    "1605": 67,
                    "1606": 6,
                    "1607": 123,
                    "1608": 18,
                    "1609": 228,
                    "1610": 252,
                    "1611": 77,
                    "1612": 232,
                    "1613": 73,
                    "1614": 153,
                    "1615": 80,
                    "1616": 20,
                    "1617": 157,
                    "1618": 211,
                    "1619": 9,
                    "1620": 10,
                    "1621": 139,
                    "1622": 196,
                    "1623": 59,
                    "1624": 136,
                    "1625": 80,
                    "1626": 38,
                    "1627": 171,
                    "1628": 172,
                    "1629": 61,
                    "1630": 133,
                    "1631": 35,
                    "1632": 32,
                    "1633": 114,
                    "1634": 104,
                    "1635": 116,
                    "1636": 83,
                    "1637": 25,
                    "1638": 120,
                    "1639": 196,
                    "1640": 184,
                    "1641": 199,
                    "1642": 16,
                    "1643": 155,
                    "1644": 201,
                    "1645": 2,
                    "1646": 193,
                    "1647": 208,
                    "1648": 129,
                    "1649": 197,
                    "1650": 71,
                    "1651": 4,
                    "1652": 111,
                    "1653": 196,
                    "1654": 58,
                    "1655": 145,
                    "1656": 164,
                    "1657": 81,
                    "1658": 147,
                    "1659": 234,
                    "1660": 0,
                    "1661": 31,
                    "1662": 137,
                    "1663": 94,
                    "1664": 98,
                    "1665": 21,
                    "1666": 0,
                    "1667": 114,
                    "1668": 151,
                    "1669": 59,
                    "1670": 2,
                    "1671": 18,
                    "1672": 151,
                    "1673": 71,
                    "1674": 32,
                    "1675": 78,
                    "1676": 245,
                    "1677": 93,
                    "1678": 42,
                    "1679": 60,
                    "1680": 224,
                    "1681": 50,
                    "1682": 41,
                    "1683": 83,
                    "1684": 216,
                    "1685": 172,
                    "1686": 74,
                    "1687": 157,
                    "1688": 248,
                    "1689": 189,
                    "1690": 244,
                    "1691": 88,
                    "1692": 4,
                    "1693": 82,
                    "1694": 19,
                    "1695": 93,
                    "1696": 6,
                    "1697": 4,
                    "1698": 112,
                    "1699": 182,
                    "1700": 79,
                    "1701": 57,
                    "1702": 250,
                    "1703": 228,
                    "1704": 168,
                    "1705": 154,
                    "1706": 192,
                    "1707": 2,
                    "1708": 58,
                    "1709": 156,
                    "1710": 201,
                    "1711": 234,
                    "1712": 117,
                    "1713": 219,
                    "1714": 165,
                    "1715": 128,
                    "1716": 181,
                    "1717": 16,
                    "1718": 127,
                    "1719": 118,
                    "1720": 73,
                    "1721": 20,
                    "1722": 193,
                    "1723": 54,
                    "1724": 246,
                    "1725": 206,
                    "1726": 83,
                    "1727": 138,
                    "1728": 101,
                    "1729": 12,
                    "1730": 114,
                    "1731": 127,
                    "1732": 105,
                    "1733": 143,
                    "1734": 113,
                    "1735": 81,
                    "1736": 22,
                    "1737": 121,
                    "1738": 224,
                    "1739": 42,
                    "1740": 22,
                    "1741": 86,
                    "1742": 23,
                    "1743": 138,
                    "1744": 123,
                    "1745": 103,
                    "1746": 62,
                    "1747": 136,
                    "1748": 3,
                    "1749": 32,
                    "1750": 28,
                    "1751": 228,
                    "1752": 242,
                    "1753": 84,
                    "1754": 64,
                    "1755": 117,
                    "1756": 111,
                    "1757": 53,
                    "1758": 94,
                    "1759": 193,
                    "1760": 207,
                    "1761": 238,
                    "1762": 178,
                    "1763": 200,
                    "1764": 219,
                    "1765": 36,
                    "1766": 13,
                    "1767": 60,
                    "1768": 96,
                    "1769": 77,
                    "1770": 125,
                    "1771": 4,
                    "1772": 19,
                    "1773": 162,
                    "1774": 201,
                    "1775": 64,
                    "1776": 153,
                    "1777": 247,
                    "1778": 9,
                    "1779": 204,
                    "1780": 131,
                    "1781": 186,
                    "1782": 102,
                    "1783": 93,
                    "1784": 144,
                    "1785": 9,
                    "1786": 50,
                    "1787": 224,
                    "1788": 143,
                    "1789": 247,
                    "1790": 213,
                    "1791": 12,
                    "1792": 195,
                    "1793": 152,
                    "1794": 247,
                    "1795": 230,
                    "1796": 176,
                    "1797": 199,
                    "1798": 223,
                    "1799": 189,
                    "1800": 16,
                    "1801": 60,
                    "1802": 153,
                    "1803": 102,
                    "1804": 7,
                    "1805": 77,
                    "1806": 213,
                    "1807": 4,
                    "1808": 167,
                    "1809": 147,
                    "1810": 201,
                    "1811": 99,
                    "1812": 227,
                    "1813": 246,
                    "1814": 85,
                    "1815": 44,
                    "1816": 107,
                    "1817": 237,
                    "1818": 93,
                    "1819": 255,
                    "1820": 217
                  },
                  "sourceType": "ad",
                  "sourceId": "120243399098240358",
                  "sourceUrl": "https://fb.me/4FZm88mH5",
                  "containsAutoReply": false,
                  "renderLargerThumbnail": true,
                  "showAdAttribution": true,
                  "ctwaClid": "AfgqgaRi8CD3ljIMF_A1XC135colmHDngzmj32aRUa0JwWnYxFh5jV9ElGKrD8jRgnKxo5eaB2jWmkKnyRs1UpacA-TuBCwXdW7ZlkR_Dqxi0eg9xsGGZ4jwhEFg4wpBoMB0MTnJ0Q",
                  "clickToWhatsappCall": true,
                  "adContextPreviewDismissed": false,
                  "sourceApp": "facebook",
                  "automatedGreetingMessageShown": true,
                  "greetingMessageBody": "¡Hola! ¿Cómo podemos ayudarte?, indicanos en que modelo estás interesado",
                  "disableNudge": false,
                  "originalImageUrl": "https://scontent.fclo11-1.fna.fbcdn.net/v/t15.5256-10/728020692_1026766529801342_1158100165343466986_n.jpg?stp=cp0_dst-jpg_e48_fr_q65_tt6&cstp=mx1080x1920&ctp=s540x540&_nc_cat=110&ccb=1-7&_nc_sid=40cf1a&_nc_ohc=DS58wYzkUI0Q7kNvwFFBykk&_nc_oc=AdrIRhI4q9T3VaAFMDI3_6f-d4gLnZOB45ZYdDFtVvd9DDZwcs0PUcknO7DNFx8Lmqk&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fclo11-1.fna&_nc_ss=7a3ba&oh=00_AQDj40Q7pRu2fCo6gyVEmZxp-RqdXWF8RYEtnNNHEiqgDw&oe=6A57411C",
                  "wtwaAdFormat": true,
                  "wtwaWebsiteUrl": "https://chlstore.com/products/tenis-polo-club-caballero"
                },
                "entryPointConversionSource": "ctwa_ad",
                "entryPointConversionApp": "facebook",
                "entryPointConversionDelaySeconds": 68,
                "trustBannerAction": 4294967295,
                "ctwaSignals": "all,all",
                "ctwaPayload": {
                  "0": 65,
                  "1": 102,
                  "2": 106,
                  "3": 118,
                  "4": 114,
                  "5": 76,
                  "6": 73,
                  "7": 79,
                  "8": 89,
                  "9": 53,
                  "10": 117,
                  "11": 52,
                  "12": 101,
                  "13": 55,
                  "14": 56,
                  "15": 115,
                  "16": 102,
                  "17": 67,
                  "18": 75,
                  "19": 83,
                  "20": 89,
                  "21": 116,
                  "22": 74,
                  "23": 97,
                  "24": 68,
                  "25": 83,
                  "26": 53,
                  "27": 65,
                  "28": 74,
                  "29": 104,
                  "30": 65,
                  "31": 111,
                  "32": 105,
                  "33": 122,
                  "34": 82,
                  "35": 51,
                  "36": 114,
                  "37": 49,
                  "38": 68,
                  "39": 90,
                  "40": 122,
                  "41": 107,
                  "42": 68,
                  "43": 87,
                  "44": 83,
                  "45": 106,
                  "46": 113,
                  "47": 95,
                  "48": 122,
                  "49": 116,
                  "50": 102,
                  "51": 109,
                  "52": 72,
                  "53": 81,
                  "54": 89,
                  "55": 89,
                  "56": 90,
                  "57": 111,
                  "58": 114,
                  "59": 70,
                  "60": 102,
                  "61": 49,
                  "62": 109,
                  "63": 109,
                  "64": 95,
                  "65": 99,
                  "66": 100,
                  "67": 98,
                  "68": 56,
                  "69": 80,
                  "70": 48,
                  "71": 74,
                  "72": 122,
                  "73": 122,
                  "74": 95,
                  "75": 51,
                  "76": 95,
                  "77": 52,
                  "78": 57,
                  "79": 70,
                  "80": 89,
                  "81": 73,
                  "82": 78,
                  "83": 72,
                  "84": 81,
                  "85": 107,
                  "86": 122,
                  "87": 57,
                  "88": 111,
                  "89": 80,
                  "90": 68,
                  "91": 103,
                  "92": 66,
                  "93": 113,
                  "94": 113,
                  "95": 116,
                  "96": 107,
                  "97": 85,
                  "98": 67,
                  "99": 52,
                  "100": 82,
                  "101": 73,
                  "102": 74,
                  "103": 56,
                  "104": 77,
                  "105": 81,
                  "106": 57,
                  "107": 72,
                  "108": 103,
                  "109": 66,
                  "110": 73,
                  "111": 51,
                  "112": 52,
                  "113": 71,
                  "114": 119,
                  "115": 104,
                  "116": 111,
                  "117": 97,
                  "118": 122,
                  "119": 102,
                  "120": 86,
                  "121": 107,
                  "122": 55,
                  "123": 53,
                  "124": 74,
                  "125": 100,
                  "126": 56,
                  "127": 116,
                  "128": 79,
                  "129": 106,
                  "130": 66,
                  "131": 106,
                  "132": 118,
                  "133": 104,
                  "134": 113,
                  "135": 74,
                  "136": 113,
                  "137": 66,
                  "138": 118,
                  "139": 73,
                  "140": 82,
                  "141": 88,
                  "142": 97,
                  "143": 83,
                  "144": 82,
                  "145": 45,
                  "146": 98,
                  "147": 54,
                  "148": 79,
                  "149": 88,
                  "150": 85,
                  "151": 106,
                  "152": 99,
                  "153": 52,
                  "154": 95,
                  "155": 88,
                  "156": 112,
                  "157": 67,
                  "158": 48,
                  "159": 80,
                  "160": 74,
                  "161": 69,
                  "162": 45,
                  "163": 79,
                  "164": 53,
                  "165": 77,
                  "166": 71,
                  "167": 52,
                  "168": 71,
                  "169": 72,
                  "170": 52,
                  "171": 71,
                  "172": 68,
                  "173": 48,
                  "174": 106,
                  "175": 70,
                  "176": 85,
                  "177": 69,
                  "178": 122,
                  "179": 49,
                  "180": 104,
                  "181": 54,
                  "182": 88,
                  "183": 78,
                  "184": 79,
                  "185": 97,
                  "186": 65,
                  "187": 53,
                  "188": 73,
                  "189": 78,
                  "190": 104,
                  "191": 112,
                  "192": 103,
                  "193": 108,
                  "194": 111,
                  "195": 71,
                  "196": 45,
                  "197": 114,
                  "198": 80,
                  "199": 104,
                  "200": 116,
                  "201": 85,
                  "202": 116,
                  "203": 69,
                  "204": 89,
                  "205": 49,
                  "206": 112,
                  "207": 82,
                  "208": 88,
                  "209": 112,
                  "210": 122,
                  "211": 48,
                  "212": 116,
                  "213": 104,
                  "214": 115,
                  "215": 109,
                  "216": 77,
                  "217": 118,
                  "218": 89,
                  "219": 112,
                  "220": 110,
                  "221": 49,
                  "222": 89,
                  "223": 99,
                  "224": 69,
                  "225": 81,
                  "226": 116,
                  "227": 84,
                  "228": 70,
                  "229": 75,
                  "230": 100,
                  "231": 119,
                  "232": 112,
                  "233": 54,
                  "234": 82,
                  "235": 86,
                  "236": 73,
                  "237": 95,
                  "238": 72,
                  "239": 82,
                  "240": 119,
                  "241": 117,
                  "242": 87,
                  "243": 84,
                  "244": 97,
                  "245": 74,
                  "246": 90,
                  "247": 84,
                  "248": 87,
                  "249": 56,
                  "250": 122,
                  "251": 55,
                  "252": 50,
                  "253": 122,
                  "254": 99,
                  "255": 106,
                  "256": 121,
                  "257": 122,
                  "258": 89,
                  "259": 121,
                  "260": 70,
                  "261": 121,
                  "262": 112,
                  "263": 90,
                  "264": 113,
                  "265": 90,
                  "266": 95,
                  "267": 65,
                  "268": 103,
                  "269": 70,
                  "270": 71,
                  "271": 84,
                  "272": 102,
                  "273": 119,
                  "274": 105,
                  "275": 116,
                  "276": 102,
                  "277": 67,
                  "278": 77,
                  "279": 57,
                  "280": 121,
                  "281": 113,
                  "282": 71,
                  "283": 77,
                  "284": 74,
                  "285": 50,
                  "286": 103,
                  "287": 86,
                  "288": 95,
                  "289": 71,
                  "290": 83,
                  "291": 87,
                  "292": 121,
                  "293": 98,
                  "294": 80,
                  "295": 103,
                  "296": 120,
                  "297": 112,
                  "298": 86,
                  "299": 48,
                  "300": 67,
                  "301": 103,
                  "302": 113,
                  "303": 54,
                  "304": 77,
                  "305": 45,
                  "306": 105,
                  "307": 80,
                  "308": 107,
                  "309": 120,
                  "310": 54,
                  "311": 119,
                  "312": 113,
                  "313": 88,
                  "314": 70,
                  "315": 121,
                  "316": 77,
                  "317": 69,
                  "318": 118,
                  "319": 70,
                  "320": 95,
                  "321": 49,
                  "322": 121,
                  "323": 122,
                  "324": 90,
                  "325": 116,
                  "326": 111,
                  "327": 104,
                  "328": 108,
                  "329": 65,
                  "330": 71,
                  "331": 51,
                  "332": 88,
                  "333": 122,
                  "334": 119,
                  "335": 55,
                  "336": 97,
                  "337": 53,
                  "338": 88,
                  "339": 102,
                  "340": 116,
                  "341": 79,
                  "342": 73,
                  "343": 80,
                  "344": 45,
                  "345": 72,
                  "346": 120,
                  "347": 99,
                  "348": 74,
                  "349": 84,
                  "350": 110,
                  "351": 83,
                  "352": 80,
                  "353": 74,
                  "354": 68,
                  "355": 105,
                  "356": 89,
                  "357": 99,
                  "358": 103,
                  "359": 69,
                  "360": 55,
                  "361": 106,
                  "362": 66,
                  "363": 121,
                  "364": 68,
                  "365": 116,
                  "366": 95,
                  "367": 99,
                  "368": 84,
                  "369": 88,
                  "370": 102,
                  "371": 73,
                  "372": 77,
                  "373": 74,
                  "374": 68,
                  "375": 122,
                  "376": 79,
                  "377": 106,
                  "378": 84,
                  "379": 106,
                  "380": 109,
                  "381": 122,
                  "382": 117,
                  "383": 88,
                  "384": 98,
                  "385": 107,
                  "386": 75,
                  "387": 103,
                  "388": 102,
                  "389": 98,
                  "390": 102,
                  "391": 49,
                  "392": 71,
                  "393": 118,
                  "394": 76,
                  "395": 115,
                  "396": 83,
                  "397": 67,
                  "398": 110,
                  "399": 120,
                  "400": 57,
                  "401": 104,
                  "402": 80,
                  "403": 77,
                  "404": 108,
                  "405": 74,
                  "406": 98,
                  "407": 90,
                  "408": 89,
                  "409": 107,
                  "410": 52,
                  "411": 102,
                  "412": 72,
                  "413": 106,
                  "414": 73,
                  "415": 115
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1783726477,
              "instanceId": "ca1e2d9a-bfdb-46bd-8539-7f228fb6b2b6",
              "source": "android"
            },
            "destination": "https://ceo-n8n.ei9yfj.easypanel.host/webhook/evolution-webhook",
            "date_time": "2026-07-10T20:34:38.886Z",
            "sender": "573112691681@s.whatsapp.net",
            "server_url": "https://ceo-evolution-api.ei9yfj.easypanel.host",
            "apikey": "597ECD9FF8B5-4888-907D-6C88C0AD5664"
          },
          "webhookUrl": "https://ceo-n8n.ei9yfj.easypanel.host/webhook/evolution-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Router Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create an order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dividir Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields (Prompt Builder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create an order": {
      "main": [
        [
          {
            "node": "Auto Pausa BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert Lead BD",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Video Polo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Prompt Builder)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Mensaje": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Mensajes": {
      "main": [
        [
          {
            "node": "Evaluar y Combinar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar y Combinar": {
      "main": [
        [
          {
            "node": "Limpiar Bandeja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Bandeja": {
      "main": [
        [
          {
            "node": "GraphQL Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Mensajes": {
      "main": [
        [
          {
            "node": "Loop Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Mensajes": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Loop Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Insertar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Webhook": {
      "main": [
        [
          {
            "node": "Consultar Pausa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pausa Comando BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reanudar Comando BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Pausa": {
      "main": [
        [
          {
            "node": "If Pausado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Pausado": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Obtener Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Pausa BD": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead BD": {
      "main": [
        []
      ]
    },
    "If Video Polo": {
      "main": [
        [
          {
            "node": "Enviar Video Polo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Enviar Video Polo": {
      "main": [
        []
      ]
    },
    "GraphQL Shopify": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "92ee805e-d53f-4ced-80e4-616ce0b18370",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3001b8c98a0cf2a83d3b1e5ff4d3f277fc26fe307fff3c20d1473b1581963ccd"
  },
  "nodeGroups": [],
  "id": "KqBcsagTVtueNKlc",
  "tags": []
}